@model SekerWeb.Models.Entity.Marka
@{
    ViewBag.Title = "MarkaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form class="form-group" method="post">
    <div class="form-group">
        <label for="text">Bölüm</label>
        <input type="text" class="form-control" name="MarkaAdı" placeholder="Marka">

    </div>

    <button type="submit" class="btn btn-primary">Marka Ekle</button>
</form>

