
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form class="form-group" method="post">
    <div class="form-group">
        <label for="text">Bölüm</label>
        <input type="text" class="form-control" name="Kategoriler" placeholder="Kategori">

    </div>

    <button type="submit" class="btn btn-primary">Kategori Ekle</button>
</form>

