
@{
    ViewBag.Title = "BesinEkle";
    Layout = "~/Views/Shared/HastaLayout.cshtml";
}

<form class="form-group" method="post">
    <div class="form-group">
        <label for="text">Sabah Açlık</label>
        <input type="text" class="form-control" name="Kahvaltı" placeholder="Sabah">

    </div>
    <div class="form-group">
        <label for="text">Sabah Tokluk</label>
        <input type="text" class="form-control" name="AraOgun" placeholder="Öglen Ara Öğün">

    </div>

    <div class="form-group">
        <label for="text">Öğlen Açlık</label>
        <input type="text" class="form-control" name="Oglen" placeholder="Öğlen">

    </div>

    <div class="form-group">
        <label for="text">Öğlen Tokluk</label>
        <input type="text" class="form-control" name="OgleAraOgun" placeholder="Öğlen Ara Öğün">

    </div>

    <div class="form-group">
        <label for="text">Akşam Açlık</label>
        <input type="text" class="form-control" name="Aksam" placeholder="Akşam ">

    </div>

    <div class="form-group">
        <label for="text">Akşam Tokluk</label>
        <input type="text" class="form-control" name="AksamAraOgun" placeholder="Akşam Ara Ögün">

    </div>

   


    <button type="submit" class="btn btn-primary">Ekle</button>
</form>


