
@{
    ViewBag.Title = "SekerEkle";
    Layout = "~/Views/Shared/HastaLayout.cshtml";
}


<form class="form-group" method="post">
    <div class="form-group">
        <label for="text">Sabah Açlık</label>
        <input type="text" class="form-control" name="SabahAclik" placeholder="Sabah Açlık">

    </div>
    <div class="form-group">
        <label for="text">Sabah Tokluk</label>
        <input type="text" class="form-control" name="SabahTokluk" placeholder="Sabah Tokluk">

    </div>

    <div class="form-group">
        <label for="text">Öğlen Açlık</label>
        <input type="text" class="form-control" name="OglenAclik" placeholder="Öğlen Açlık">

    </div>

    <div class="form-group">
        <label for="text">Öğlen Tokluk</label>
        <input type="text" class="form-control" name="OglenTokluk" placeholder="Öğlen Tokluk">

    </div>

    <div class="form-group">
        <label for="text">Akşam Açlık</label>
        <input type="text" class="form-control" name="AksamAclık" placeholder="Akşam Açlık">

    </div>

    <div class="form-group">
        <label for="text">Akşam Tokluk</label>
        <input type="text" class="form-control" name="AksamTokluk" placeholder="Akşam Tokluk">

    </div>

    <div class="form-group">
        <label for="text">Gece</label>
        <input type="text" class="form-control" name="Gece" placeholder="Yatmadan Önce">

    </div>


    <button type="submit" class="btn btn-primary">Ekle</button>
</form>

